#!/bin/bash
set -e
set -x

psql -v ON_ERROR_STOP=1 --username postgres --dbname postgres <<-EOSQL
    CREATE DATABASE task6_db
        WITH ENCODING = 'UTF8'
            TABLESPACE = pg_default
            LC_COLLATE = 'en_US.utf8'
            LC_CTYPE = 'en_US.utf8'
            CONNECTION LIMIT = -1;
    CREATE TABLE task6_db.Students (
                id int auto_increment,
                Student varchar (127) not null,
                StudentId int not null,
                primary key (id));

    CREATE TABLE task6_db.Result (
                id int auto_increment,
                StudentId int,
                Task1 varchar (127) not null,
                Task2 varchar (127) not null,
                Task3 varchar (127) not null,
                Task4 varchar (127) not null,
                Task5 varchar (127) not null,
                primary key (id));
EOSQL

export PGPASSWORD="$POSTGRES_PASSWORD"
psql -U postgres -c "\copy Students(Student,StudentId) FROM './Students.csv' DELIMITER ',' CSV HEADER;" task6_db
psql -U postgres task6 -c "\copy Result(StudentId,Task1,Task2,Task3,Task4,Task5) FROM './Result.csv' DELIMITER ',' CSV HEADER;" task6_db
